<%- include('../partials/navbarheader.ejs') %>
<style>
    /* #ff9800  */
    .warning {
        border-color: rgb(9, 255, 0);
        color: rgb(9, 255, 0);
    }

    .warning:hover {
        background: rgb(9, 255, 0);
        color: white;
    }

</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center" style="font-family: cursive;font-weight: bold;">Already Registered...!! Please Login</h2>
            <hr>
            <h5 class="text-center" style="font-family: cursive;font-weight: bold;">If U are Already Registered Please Login By clicking this Button Below..</h5>
            
            <a href="/login"><button class="btn warning">Login</button></a>
        </div>

        <div class="col-sm-6">
            <h2 class="text-center" style="font-family: cursive;font-weight: bold;">Register With us..</h2>
            <hr>
            <form method="POST" action="/register" novalidate>
                
                <div class="mb-3">
                    <label for="firstname" class="form-label" style="font-family: cursive;font-weight: bold;">Enter your
                        Firstname</label>
                    <input type="text" name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp"
                        placeholder="Enter your firstname">

                </div>
               

                <div class="mb-3">
                    <label for="email" class="form-label"
                        style="font-family: cursive;font-weight: bold;">Email ID</label>
                    <input type="email" name="emailid" class="form-control" id="emailid"
                        placeholder="Enter your Email id">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label"
                        style="font-family: cursive;font-weight: bold;">Enter your Password</label>
                    <input type="password" name="password" class="form-control" id="password"
                        placeholder="Enter your password">
                </div>

                
               
                <button type="submit" class="btn warning">Register</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/navbarfooter.ejs') %>